.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    color: #00bc77;
}

.main-nav-item {
    margin-right: 0.5rem;
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
  
.main-nav-logo {
    display: flex;
    align-items: center;
}
  
.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.nav-login {
    display: flex;
    gap: 20px;
}

.off, .on {
    color: #2c3e50;
}

.nav-svg {
    width: 30px;
    height: 30px;
    color: #00bc77;
}

.on:hover {
    text-decoration: underline;
}